﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}
<p>Dahsboard</p>
<div id="container"></div>

@section Scripts {
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script>

        var urlbase = 'https://' + '@Context.Request.Host' + '@Context.Request.Path'
        var host = '@Context.Request.Host'
        var path = '@Context.Request.Path'
    </script>
    <script src="~/js/PieChart.js"></script>
}